version: 2.1
jobs:
  build:
    docker:
      - image: ruby:3.4.1
        environment:
          RAKE_ENV: test
    steps:
      - checkout
      - run:
          name: Install gems
          command: |
            gem install bundler -v 2.5.18
            bundle install
      - run:
          name: Run tests
          command: |
            bundle exec rake spec
      - run:
          name: Run rubocop
          command: |
            bundle exec rake rubocop
